:root{
    --gray: #d9d9d9;
    --primary: #284b63;
    --secundary: #3c6e71;
    --dark: #353535;
    --red: #660708;
    --black: #000;
    --white: #f8f9fa;
    --blue: #034eee;
    --card-color: hsl(0, 0%, 90%);
}

html {
    box-sizing: border-box;
}
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

/*UTILIDADES*/

.margin__buton{
    margin-bottom: 40px;
}

.title{
    font-size: 40px;
}

.center{
    text-align: center;

}

header{
    background-color: var(--gray);
}

header nav{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 700px;
}

header nav .name__company h3{
    -webkit-text-stroke: 1px var(--red);
    color: var(--gray);
}


header nav ul{
    display: flex;
    width: 400px;
    justify-content: space-between;
}

header nav ul li{
    list-style: none;
    padding: 2px 5px;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--gray);
}

header nav ul li:hover{
    background-color: var(--red);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
}

header nav ul li a{
    text-decoration: none;
    color: var(--white);

}

header figure{
    margin: 0;
    width: 100%;
    height: 500px;
}

header figure img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
}

header .car__shop{
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
}

header .car__shop .count{
    position: absolute;
    top: 0;
    left: 25%;
    background-color: var(--dark);
    color: var(--white);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside{
    display: none;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--red);
    overflow-y: scroll;
    z-index: 2;
}

aside .closed{
    float: right;
    padding: 5px 10px;
    border: 1px solid var(--dark);
    color: var(--white);
    cursor: pointer;
    margin: 15px 10px;
}

aside h2{
    margin-top: 50px;
}

aside .aside__content{
    width: 90%;
    margin: auto;
}


aside .aside__content img{
    width: 150px;
    height: 100px;
}

aside .products-content-aside {
    display: flex;
    justify-content: space-between;
}

aside .text-aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .aside__content .products-aside {
    display: flex;
    align-items: center;
    background-color: var(--gray);
    justify-content: space-evenly;
    margin-top: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


main .products-content{
    width: 75%;
    margin: auto;
    position: relative;
}

main .products-content .products{
    display: flex;  
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 50px;
 }

main .products-content .products .products-cards{
    padding: 15px;
 }

main .products-content .products .products-cards{
    background-color: var(--red);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

main .products-content .products .products-cards img{
    width: 190px;
    height: 150px;
    background-color: #d9d9d9;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
}

main .products-content .products .products-cards p{
    color: var(--white);
    font-weight: 400;
 }

main .products-content .products .products-cards span{
    color: var(--gray);
    padding: 5px;
    font-weight: 900;
 }

main .products-content .products .products-cards .stocks{
    color: var(--secundary);
    text-shadow: 0 0 5px var(--dark);
    text-align: center;
 }


main .products-content .products .products-cards .btn{
    text-align: center;
    background-color: var(--dark);
    margin: 0;
    padding: 5px;
    cursor: pointer;
 }

main .products-content .products .products-cards .btn:hover{
    background-color: red;
}

main .slider{
    width: 100%;
    height: 50vh;
    margin-top: 25px;
    background-image: url(/assets/imgs/technology.png);
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}



main .slider h2{
    text-shadow: 1px 1px 10px var(--blue);
    color: var(--black);
}

main .about{
    width: 75%;
    margin: auto;
}

main .about h2{
    text-align: center;
}

main .about p{
    text-align: justify;
    line-height: 1.2;
}

footer{
    width: 100%;
    margin: auto;
    background-color: var(--red);
    position: absolute;
    bottom: -1;
    margin-top: 100px;
    color: var(--white);
}

footer .header-footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 75%;
    margin: auto;
    justify-items: center;
}

footer .header-footer h3{
    font-weight: 600;
    padding-top: 100px;
    font-size: 25px;
}

footer .footer-down h4{
    text-align: center;
    font-weight: 600;
}